# Build Folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio files
.vs/

# Rider files
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Publish folder
publish/
out/

# Coverage
coverage/
*.coverage
*.coveragexml

# Debugging files
*.pdb

# Temporary files
*.tmp

# Database files
*.mdf
*.ldf

# Azure Pipeline
*.azurepipelines/

# Resharper files
_ReSharper*/

# NuGet packages
*.nupkg
packages/

# Backup & Report files
*.bak
*.sql
*.db

# Test Results
TestResults/

# JetBrains Rider
.idea/

# Others
*.vspscc
*.vssscc
